/* Josh Comeaus simple CSS reset combined with Kevin-Powell's reset */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  /* Add accessible line-height */
  line-height: var(--font-lineheight-3);
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-1);
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ensures that older browsers will display HTML5 elements correctly */
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* sets hyphenation by default on paragraphs */
p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: var(--size-3);
  margin-bottom: var(--size-3);
}

/* causes tables to actually look like tables */
table {
  border-collapse: collapse;
}

/* Remove animations for people that prefer reduced motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}
