package web

import "fmt"

templ EtcPage(caddyConfig string, files []struct{ Name, Content string }) {
	@Layout("/etc", CommitHash) {
		<main data-init={ fmt.Sprintf("@get('%s/sse')", EtcUrl) }>
			<h3 class="mb-4">Caddy and Quadlet Config</h3>
			@CaddyConfig(caddyConfig)
			<br/>
			@FileList(files)
		</main>
	}
}

templ CaddyConfig(caddyConfig string) {
	<section>
		<h5 class="text-muted">Caddy Configuration (/etc/caddy/Caddyfile)</h5>
		<details data-ignore-morph class="tree-file">
			<summary>
				<div class="caddy-img">
					<img src={ StaticPath("images/Caddy.svg") }/>
				</div>
			</summary>
			<pre><code class="language-bash">{ caddyConfig }</code></pre>
		</details>
	</section>
}

templ FileList(files []struct{ Name, Content string }) {
	<section>
		<h5 class="text-muted">Quadlet Unit Files (/etc/containers/systemd/)</h5>
		if len(files) == 0 {
			<p class="text-muted">No files found</p>
		} else {
			<div class="d-grid gap-3">
				for _, container := range files {
					<details data-ignore-morph class="tree-file">
						<summary><img class="svg" src={ StaticPath("icons/file.svg") }/> { container.Name }</summary>
						<pre><code class="language-toml">{ container.Content }</code></pre>
					</details>
				}
			</div>
		}
	</section>
}
