
package web

templ SshPage() {
	@Layout("/ssh", CommitHash) {
		<main>
			<h3 class="mb-4">SSH Information</h3>
			<pre class="config-code">systemctl daemon-reload</pre>
			<pre class="config-code">systemctl restart { "<service-name>.service" }</pre>
		</main>
	}
}
