package web

// FileNode is one entry in the /var/www tree: either a directory (with
// Children) or a regular file (with Content).
type FileNode struct {
	Name     string
	IsDir    bool
	Children []*FileNode
}

templ VarWwwPage(nodes []*FileNode) {
	@Layout("/var/www", CommitHash) {
		<main>
			<h3 class="mb-4">Static Web Files</h3>
			<h4 class="text-muted">Serving /var/www</h4>
			if len(nodes) == 0 {
				<p class="text-muted">No files found under /var/www</p>
			} else {
				<div class="file-tree">
					@FileTree(nodes)
				</div>
			}
		</main>
	}
}

// FileTree renders one level of the tree and recurses into directories.
templ FileTree(nodes []*FileNode) {
	<ul class="tree">
		for _, n := range nodes {
			<li>
				if n.IsDir {
					<details data-ignore-morph class="tree-dir">
						<summary><img class="svg" src={ StaticPath("icons/folder.svg") }/> { n.Name }</summary>
						@FileTree(n.Children)
					</details>
				} else {
					<details data-ignore-morph class="tree-file">
						<summary><img class="svg" src={ StaticPath("icons/file.svg") }/> { n.Name }</summary>
					</details>
				}
			</li>
		}
	</ul>
}
